.slider-arrow {
  display: flex;


  .slider-arrow-item {
    width: 50px;
    height: 50px;
    background: rgba(#fff, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;

    svg {
      fill: $secondary;
    }

    &:hover {
      background: rgba(#fff, 1);
    }
  }
}