.page {
  min-height: 100vh;
  padding: 150px 0;
  z-index: 5;

  .section-title {
    margin-bottom: 30px;
  }

  .page-description {

    img {
      max-width: 100%;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 10px;
    }

    a {
      position: relative;
      color: $secondary;
      font-weight: bold;
      padding-bottom: 2px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background: $secondary;
        transition: .5s;
      }

      &:hover {


        &::before {
          width: 100%;
        }
      }
    }

    ul {
      margin: 20px 0 25px;

      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;

        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          width: 15px;
          height: 15px;
          background: $primary;
          border-radius: 3px;
        }
      }
    }
  }

  &-secondary {
    padding: 0;
    height: 100vh;
    @extend %img;

    .decor-bg {
      @extend %pos;
      background: rgba(14, 14, 14, 0.9);
      z-index: -3;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 45%;
      z-index: -2;
    }

    .page-secondary-item {
      text-align: center;

      .title {
        margin-bottom: 15px;
      }

      .page-subtitle {
        margin-bottom: 25px;
      }
    }
  }
}