$light: #ccc;
$primary: #9e70a2;
$dark: #111111;
$secondary: #ffd2ea;
$secondary_light: #f7daae;

$body-color: #333333;
$body-bg: #F9F9F9;

$font-size-base: 1rem;
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Arsenal', sans-serif;
$headings-font-weight: bold;

$link-color: #fff;
$link-hover-decoration: none;
$input-btn-focus-width: 0;
$input-btn-focus-color: rgba(#fff, 0);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$border-width: 2px;

$border-radius: 3px;
$btn-padding-x: 25px;
$btn-padding-y: 15px;

$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.875;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base * 1;
