#intro {

  .slider-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .intro-slider {
    z-index: 5;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding-top: 120px;
    }

    &-item {
      width: 100%;
      padding-bottom: 56.25%;

      a {
        @extend %pos;

        figure {
          @extend %pos;
          @extend %img;

          &::before {
            content: '';
            @extend %pos;
            background: rgba($dark, .4);
            z-index: 2;
          }
        }
      }
    }
  }
}

.intro-item {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;

  .scroll-down {
    display: block;

    &__text {
      position: absolute;
      top: 20px;
      left: -50px;
      width: 80px;
      font-size: 14px;
      color: #fff;
      transform: rotate(-90deg);
    }

    &__icon {
      position: relative;
      width: 2px;
      height: 90px;
      background: rgba(#fff, .15);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 30px;
        background: #fff;
        box-shadow: 0 2px 35px 8px rgba(255, 255, 255, 0.2);
        animation: scrollDown 1.5s linear forwards infinite;
      }

      @keyframes scrollDown {
        0% {
          top: 0;
        }

        25% {
          top: 25%;
        }

        50% {
          top: 50%;
        }

        75% {
          top: 75%;
        }

        100% {
          top: 100%;
        }
      }
    }
  }
}
